.visually-hidden {
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}





.photo-card{
    width: calc((100% - 45px)/4);
    overflow: hidden;
}

.gallery__item{
    height: 250px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.gallery{
    flex-wrap: wrap;
    padding-top: 100px;
    display: flex;
    gap: 15px;
}

.info{
    display: flex;
    border: 1px solid #000000;
    border-top: none;
    flex-wrap: wrap;
    justify-content: center;
}

.info-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 8px;
    flex-direction: column;
    align-items: center;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

p{
    margin: 0;
}

.load-more{
    color: #FFFFFF;
    background-color: #04AA6D;
    border-radius: 5px;
    font-size: 17px;
    padding: 6px 18px;
    display: flex;
    margin: 30px auto;
}

